<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adicionar Veiculo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container" style="margin-top: 50px;">

    <div class="card">
        <div class="card-header">
            Adicionar Veiculo
        </div>
        <div class="card-body">
            <form action="/veiculos/add" method="post">
                <div class="form-group">
                    <label>Placa:</label>
                    <input type="text" class="form-control" name="placa" value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Volume Reservatório:</label>
                    <input type="text" class="form-control" name="volume_reservatorio"
                        value="" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Ano de Fabricação:</label>
                    <input type="text" class="form-control" name="ano_fabricacao" value=""
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Ano Modelo:</label>
                    <input type="text" class="form-control" name="ano_modelo" value=""
                        autocomplete="off">
                </div>

                <div class="form-group">
                    <label>hodômetro inicial:</label>
                    <input type="text" class="form-control" name="hodometro_inicial" value=""
                        autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Modelo:</label>
                    <input type="text" class="form-control" name="modelo_veiculo_id" value=""
                        autocomplete="off">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Adicionar" />
                </div>
            </form>
        </div>
    </div>

</body>

</html>